[access]
	inheritFrom = All-Projects
[project]
	description = hi
[access "refs/*"]
	owner = group user/simpx (simpx)
[access "refs/for/refs/*"]
	read = group user/simpx (simpx)
	push = group user/simpx (simpx)
	label-Code-Review = -2..+2 group user/simpx (simpx)
	label-Verified = -1..+1 group user/simpx (simpx)
	rebase = group user/simpx (simpx)
	removeReviewer = group user/simpx (simpx)
	submit = group user/simpx (simpx)
[access "refs/heads/*"]
	read = group user/simpx (simpx)
	create = group user/simpx (simpx)
	push = +force group user/simpx (simpx)
	pushMerge = group user/simpx (simpx)
[access "refs/tags/*"]
	push = group user/simpx (simpx)
	push = +force group user/simpx (simpx)
